# Dependencias y builds
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Android / Capacitor
mobile/android/build/
mobile/android/.gradle/
mobile/android/app/build/
mobile/android/local.properties
mobile/android/.idea/
mobile/.capacitor/

# Python
__pycache__/
*.py[cod]
*~
.ipynb_checkpoints/

# Archivos de SO e IDEs
.vscode/
.idea/
.DS_Store
Thumbs.db

# Archivos pesados / binarios que no deben subir a git
*.zip
dataset separado/
dataset/
